# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfplan

# Python
app/__pycache__/
app/*.pyc
.venv/

# OS
.DS_Store
*.swp

# IDE
.idea/
.vscode/

# Env
.env
*.pem
